.mainH1 {
    margin-left: 50px;
    margin-top: 10px;
}

.mainText {
    margin-right: 400px;
    margin-left: 300px;
}

.questions {
    margin-left: 50px;
    margin-top: 400px;
}

.qust1 {
    margin-left: 50px;
}

.qustInput1 {
    margin-left: 50px;
}